<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dao" class="dao.DaoImp"></bean>
<!--    <bean id="dao" class="ext.DaoImpV2"></bean>
    si on veux utiliser la version web service on remplace celui de base de donner avec ceci -->
    <bean id="metier" class="metier.MetierImp">
<!--        <property name="dao" ref="dao"></property>
    pour injection via les setter -->

        <!--maintenant si on veux faire avec constructeur -->
 <constructor-arg ref="dao"></constructor-arg>
    </bean>

</beans>